# Email Server Settings for contact form
# E.g., for Gmail / Google Workspace:
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false

SMTP_USER=info@launchlive.studio
# Google Workspace or Gmail requires an App Password, not your regular password
SMTP_PASS=your_app_password_here
